html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 2px dashed #1E90FF;
    outline-offset: 2px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    background-color: #222;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* GLOBAL WRAPPER */
.global-wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-image: url(../img/left-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.hero-content {
    max-width: 285px;
}

.hero-heading {
    font-family: "Bebas Neue", "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}

.hero-link {
    font-family: "Bebas Neue", "Roboto Condensed", "Arial", sans-serif;
    display: inline-block;
    background-color: #1E90FF;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero-link:hover {
    opacity: 0.8;
}

.hero-link:active {
    opacity: 0.6;
}

.hero-link-inner {
    display: flex;
    padding: 12px 24px;
}

.hero-link-inner::before {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background-image: url(../img/icon-star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: "";
}

.latest-videos {
    width: 100%;
    max-width: 600px;
    padding: 54px;
    background-color: #fff;
}

.latest-videos-heading {
    margin-top: 0;
    font-size: 24px;
    line-height: normal;
    font-family: "Bebas Neue", "Open Sans Condesed", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

.latest-videos-divider {
    border: 0;
    height: 1px;
    background-color: #999;
    margin: 24px 0;
}

.latest-videos-list {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    list-style: none;
}

.latest-videos-item:not(:last-child) {
    margin-bottom: 10px;
}

.item-latest-videos {
    display: flex;
}

.latest-videos-img {
    width: 160px;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.item-lastest-video-info {
    padding: 16px;
}

.item-lastest-video-heading {
    margin-top: 0;
    margin-bottom: 4px;
    font-family: "Bebas Neue", "Open Sans Condesed", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}
.item-lastest-videos-link {
    display: inline-block;
    text-decoration: none;
    color: #222;
}

.item-lastest-videos-link:hover {
    color: #1E90FF;
}

.item-lastest-videos-link:active {
    opacity: 0.6;
}

.item-lastest-videos-meta {
    display: flex;
    align-items: center;
    color: #888;
    font-size: 14px;
    line-height: normal;
}

.item-lastest-videos-published-at {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.item-lastest-videos-published-at::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url("../img/icon-clock.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.item-lastest-videos-views {
    display: flex;
    align-items: center;
}

.item-lastest-videos-views::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url("../img/icon-visibility.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.load-more-button {
    display: block;
    width: 100%;
    padding: 12px;
    border: 0;
    background-color: #1E90FF;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    cursor: pointer;
    border-radius: 4px;
}

.load-more-button:hover {
    background-color: rgba(30, 144, 255, 0.8);
}

.load-more-button:active {
    background-color: rgba(30, 144, 255, 0.6);
}


/* RETINA BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .hero {
        background-image: url(../img/left-bg@2x.jpg);
    }
}